html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
  color: var(--content);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: min(1024px, 100%);
  margin: 0 auto;
  padding: 285px 0;
}

