body {
  background-color: var(--background);
  color: var(--content);
  font-size: 2rem;
  margin: 0;
  min-height: 100vh;
}

p {
  margin: 0;
}

.dashboard-container {
  top: clamp(286px, 5vh, 286px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: clamp(16px, 3vw, 32px);
  width: min(1024px, 100%);
}

